__pycache__/
.dvc/
.github/
artifacts/
data/
deploy_package/
lambda-api-env/
mlruns/
model_registry/
notebooks/
pipelines/
steps/
.dvcignore
.env
.gitignore
artifacts.dvc
bankruptcy_risk_stack.yaml
cs559_sp25_project.pdf
data.dvc
lambda_local_test.py
lambda-api.zip
LICENSE
main.py
README.md
requirements.txt
run_deploy_pipeline.py
run_inference_pipeline.py
setup_inference_data.py
zenml_stack.yaml
src/apis/predict/__pycache__/

src/*
!src/apis/
!src/apis/**
!src/__init__.py