# === ZenML ===
.zen/
.zenml/

# === Environment ===
.env
*.env
.env.*

# === Python Bytecode ===
__pycache__/
*.py[cod]
*.so

# === DVC Artifacts ===
artifacts/
.artifacts/
.dvc/
*.dvc
*.dvc.lock
.cache/
.cache.dvc/
output/
!dvc.yaml

# === MLflow ===
mlruns/

# === Logs and Reports ===
*.log
*.out
*.err

# === Notebooks Checkpoints ===
.ipynb_checkpoints/

# === VSCode ===
.vscode/

# === OS-Specific ===
.DS_Store
Thumbs.db

# === Testing / Coverage ===
.coverage
*.cover
htmlcov/
pytest_cache/
